<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings><add name="db1Entities" connectionString="metadata=res://*/ADO.Model1.csdl|res://*/ADO.Model1.ssdl|res://*/ADO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="db1Entities1" connectionString="metadata=res://*/ADO.Model1.csdl|res://*/ADO.Model1.ssdl|res://*/ADO.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>